{% extends "base.html" %}

{% block conteudo %}

<div class="container">
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm">
		  <h2>Mercado Solidário</h2>
		</div>
		<div class="col-sm"></div>
	</div>
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm">
		  <p>Tutoriais e explicações</p>
			<ul>
				<li>Para poder utilizar um produto por código de barras, o código desse produto real, deve estar associado a um código de produto solidário.</li>
			  <li>Caso haja novo produto para ser distribuído no Mercado Solidário CS, o mesmo deve ser cadastrado como produto solidário e pelo menos um código de barras de um produto real deve ser associado a ele. Um administrador pode fazer o cadastro do Produtto Solidário.</li>
			  <li>Em caso de dúvidas, contatar Beto ou Vitor.</li>
			</ul>
		</div>
		<div class="col-sm"></div>
	</div>
</div>

{% endblock conteudo %}