{% extends "base.html" %}

{% block conteudo %}

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <h2>Mercado Solidário CS</h2>
    </div>
	</div>
	<div class="row">
    <div class="col text-center">
      <p>O Mercado Solidário é um projeto da ONG Cidade Social com Sede em São José dos Campos, São Paulo
      </p>
      <p>Tem por objetivo restaurar a vida do necessitado através do atendimento se suas necessidades básicas de alimentação de forma digna e restauradora, ensinando-os sobre administração de recursos e cidadania.</p>
      <p>Recebe doações de voluntários e parceiros mantenedores.</p>
    </div>
  </div>
</div>

{% endblock conteudo %}

