<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e15e10;">
   <div class="container-fluid">
         <a class="navbar-brand text-light" href="/Mercado">Mercado Solidário</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link text-light" href="/Mercado">Página Principal</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-light" href="/Mercado/Estoque">Estoque</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-light" href="/Mercado/Relatorios">Relatórios</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-light" href="/Mercado/Atendimento">Atendimentos</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-light" href="/admin">Cadastros</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-light" href="/ajuda/">Ajuda</a>
            </li>
            <li class="nav-item">
               {% if user.is_authenticated %}
                  <a class="nav-link text-light" href="/accounts/logout">Logout</a>
               {% else %}
                  <a class="nav-link text-light" href="/accounts/login/?next=/">Login</a>
               {% endif %}
            </li>
            <li class="nav-item">
               <!-- Botões de Acessibilidade -->
               <button type="button" class="btn btn-dark" onClick="fonte('a');">A+</button> <!-- Botão + -->
               <button type="button" class="btn btn-dark" onClick="fonte('n');" title="Normal">A</button> <!-- Botão - -->
               <button type="button" class="btn btn-dark" onClick="fonte('d');">A-</button> <!-- Botão - -->
               <!--a style="color:black;" href="#altocontraste" id="altocontraste" accesskey="1" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()" >Alto contraste [Alt + 1]</a-->
               <a style="color:black;" href="#altocontraste" id="altocontraste" accesskey="1" onclick="contraste()" onkeydown="contraste()" onload="contraste()">Alto contraste [Alt + 1]</a>
            </li>
         </ul>
      </div>
   </div>

</nav>