# create an .env file using this file as template
#run this command on the server to generate a secret key
#python3 -c "import secrets; print(secrets.token_urlsafe())"
SECRET_KEY=''

# on production environment DEBUG should be False
DEBUG=False

# create a mysql/mariadb instance, create a database named 'dbname', create a user named 'myuser'@'host' with mypasswd, 
# grant all privileges on dbname.* to 'myuser'@'host'
DB_NAME='dbname'
DB_USER='myuser'
DB_PASSWORD='mypass'
DB_HOST='localhost'

# create geckodriver.exe path for selenium tests
PATH_WEBDRIVER='PATH'

