{% extends "base.html" %}

{% block conteudo %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Relatórios - Mercado Solidário CS</h2>
    </div>
	</div>
	<div class="row">
    <div class="col text-center">
      <p><a class="btn btn-primary" href="Relatorios/consumo-periodo">Consumo por Período</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p><a class="btn btn-primary" href="Relatorios/necessidade-periodo">Necessidade Período</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p><a class="btn btn-primary" href="../analise/config">Treinar I.A.</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p><a class="btn btn-primary" href="../analise">An&aacute;lises e lista de compras</a></p>
    </div>
  </div>
</div>

{% endblock conteudo %}
