{% extends "base.html" %}

{% block conteudo %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Atendimento - Mercado Solidário CS - Solidários</h2>
    </div>
  </div>
  <div class="row align-items-center border">
    <div class="col center">
      <div class="row align-items-center" >Voluntário</div>
      <div class="row align-items-center">
        {{ context.rascunho.atendente }}
      </div>
    </div>
    <div class="col center">
      <div class="row align-items-center">Data</div>
      <div class="row align-items-center">
        {{ context.rascunho.data }}
      </div>
    </div>
    <div class="col">      
      <div class="row">Solidários</div>
      <div id="solidarios" class="row" style="font-size:30px;font-weight:bold;">
        {{ context.srestantes }}
      </div>
    </div>
    <div class="col">      
      <div class="row">Restantes</div>
      <div id="restantes" class="row" style="text-align:right;font-size:30px;font-weight:bold;">
        {{ context.srestantes }}
       </div>
    </div>
  </div>
</div>
<div class="container mt-2">
  <div class="form-group row">
    <div class="col-6 mt-auto">
      <form method="POST">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}  
          {% endfor %}
      <div class="fieldWrapper">
        <label class="col-form-label" for="{{ form.produto.id_for_label }}">{{ form.produto.label }}</label>
          {{ form.produto }}
      </div>
    </div>
    <div class="col mt-auto">
      <div class="fieldWrapper">
        <label class="col-form-label" for="{{ form.solidarios.id_for_label }}"> {{ form.solidarios.label }}</label>
        {{ form.solidarios }}
      </div>
    </div>
    <div class="col mt-auto">
      <div class="fieldWrapper">
        <label class="col-form-label" for="{{ form.max_fam.id_for_label }}"> {{ form.max_fam.label }}</label>
        {{ form.max_fam }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt_auto">
      <div class="fieldWrapper">
        <label class="col-form-label" for="{{ form.quantidade.id_for_label }}"> {{ form.quantidade.label }}</label>
        {{ form.quantidade }}
      </div>
    </div>
    <div class="col mt_auto">
      <div class="fieldWrapper">
        <fieldset>
          <legend>{{ form.dataValidade.label }}</legend>
          {% for item in context.estoque %}
          <div class="myradio"> 
              <label for="id_data_{{ forloop.counter0 }}" >
                <input id="id_data_{{ forloop.counter0 }}" name="dataValidade" type="radio" value='{{ item.validade|date:"Y-m-d" }}' required>
                {{ item.validade|date:"  d / m / Y" }}
              </label>
          </div> 
          {% empty %}
            Sem Estoque
          {% endfor %}
      </fieldset>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">       
    <div class="mt-2 col-auto">
        <button type="submit" class="btn btn-primary text-center center mt-2">Continuar</button>
    </div>
    </form>
  </div>
  <div>

      <script>
        $(function(){
            $('#id_quantidade').keyup(function(){
               var id_sol = parseFloat($('#id_solidarios').val()) || 0;
               var quantidade = parseFloat($('#id_quantidade').val()) || 0;
               var solidarios = parseFloat($('#solidarios').html()) || 0;
               $('#restantes').html(solidarios - (id_sol*quantidade));
            });
            $('#id_quantidade').attr("max",$('#id_max_fam').val() )        });
      </script>
  </div>
</div>


{% endblock conteudo %}