{% extends "base.html" %}

{% block conteudo %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Atendimentos - Mercado Solidário CS</h2>
    </div>
	</div>
	<div class="row">
    <div class="col text-center">
      <p><a class="btn btn-primary" href="mercado">Mercado Solidário</a> 
      </p>
      <p><a class="btn btn-primary" href="mercadoCaixa">Mercado Solidário - CAIXA</a> 
      </p>
      <p><a class="btn btn-primary" href="cestabasica">Montar Cesta Básica</a> 
      </p>
      <p><a class="btn btn-primary" href="cestaemergencial">Montar Cesta Emergencial</a> 
      </p>
    </div>
  </div>
</div>

{% endblock conteudo %}
