{% extends "base.html" %}

{% block conteudo %}

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h2>Entrada de Estoque - Mercado Solidário CS</h2>
    </div>
    <div class="col-sm">
    </div>
	</div>
	<div class="row">
    <div class="col-sm">
    </div>
    <div class="col">
      <p>O Mercado Solidário é um projeto da ONG Cidade Social com Sede em São José dos Campos, São Paulo
      </p>
      <p>Tem por objetivo restaurar a vida do necessitado através do atendimento se suas necessiades básicas de alimentação de forma digna e restarauradora, ensinando sobre administração de recursos e cidadania.</p>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

{% endblock conteudo %}
