{% extends "base.html" %}

{% block conteudo %}

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h2>Estoque - Mercado Solidário CS</h2>
    </div>
    <div class="col-sm">
    </div>
	</div>
	<div class="row">
    <div class="col-sm">
    </div>
    <div class="col">
      <p><a href="lista">Ver Lista Completa</a> 
      </p>
      <p><a href="listaProdSol">Ver Lista por Produto Solidário</a> 
      </p>
      <p><a href="listaValidade">Ver Lista por Validade</a> 
      </p>
      <p><a href="entrada">Registrar Entrada</a></p>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

{% endblock conteudo %}
